/*TABLE*/
h1{
  font-family: 'IBM Plex Sans', sans-serif;font-size: 4rem;font-weight: 700;
}
table{
  margin-left: 15px !important;
}



.t-button {
  position: relative;
  border:10px;
  padding-left: 1em;
  padding-right:1em;
  padding: 0.5em; 
  text-decoration: none;
  background-color: 8px 8px 5px rgb(232, 232, 232) ;
  color: gray; 
  border-radius: 10px; 
  box-shadow: none !important;
  border:hidden;
  max-width:250px; 
  margin-top:10px;  
  border: 3px solid white;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.appear{
 opacity: 1;
 display: none;
 visibility: hidden;
 position: absolute;

 transition: opacity 0.2s; 
 -webkit-transition: visibility 0.2s linear,
 opacity 0.2s linear;
 -moz-transition: visibility 0.2s linear,
 opacity 0.2s linear;
 -o-transition: visibility 0.2s linear,
 opacity 0.2s linear; 
}

.message{ padding-left: 1em;padding-right:1em;padding: 0.5em; text-decoration: none; color: #2B2B2B;
border-radius: 5px; height: 20px; box-shadow: none !important;
max-width:250px; } .custom-alert{ background-color: rgba(245,240,240,0.2); z-index: 1;backdrop-filter:blur(7px);}
.custom-flag{ background-color: #ccffb8; color: green; }

tbody tr {
  padding: 10px;
  transition: transform .2s; /* Animation */
  height: 50px;
  margin: 0 auto;
  border-bottom: 5px grey ; 
  border-radius: 30px;
  padding-bottom: 1em;   


}

tbody tr:hover {
  transform: scale(1.015); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1000 !important;
  background-color:rgb(250, 250, 250) !important;
  color:black;
  border-radius: 15px;
  box-shadow: 8px 8px 5px rgb(232, 232, 232);
}tbody tr:hover .t-button{
  border: 3px solid transparent;
  background-color: #fff3d1;
  color: #ffa70f; 
}tbody tr:hover .t-button:hover{  
  border: 3px solid #ffa70f;

}





.dataTables_wrapper label{
  display:grid !important;
  margin-bottom:2vh;
}


table thead th,table tfoot th{
  border:0px !important;
}

.dataTables_scrollBody{
  overflow-x: hidden !important;
}



.search_class{
  position: relative;
  width: 100% ;
  float: none;
  text-align: center;  
}

.search_class input{
  width: 100%;
  max-width: none !important; 
  background-color: rgb(245, 247, 250);
  border:none;height: 6vh;
  padding-left: 20px;
}




/*DECORATION*/
.decoration {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f63366), to(#fffd80));
  background-image: -webkit-linear-gradient(left, #f63366, #fffd80);
  background-image: linear-gradient(90deg, #f63366, #fffd80);
  z-index: 50;
}






/* SRC:https://codepen.io/dimaZubkov/pen/dpdrEK; */
.user{
  background-color: #EFEFEF;
  color: #2B2B2B !important;
  text-align: center;
  margin: 15px;
  border-radius: 30px;
}

.nav {
  width: 320px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: #fafafa;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: black;

}
.nav-toggle {
  position: absolute;
  right: 23em;
  color:black;
  cursor: pointer;
}
.nav-toggle:hover:before {
  -webkit-animation: 0;
          animation: 0;

}
.nav-toggle:before {
  content: '☰';
  background: rgba(240, 242, 246,0.3);
  color: #2B2B2B;
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  border-radius: 50%;
  width: 2em;
  font-size: 2em;
  line-height: 2;
}
[id='nav-toggle'] {
  display: none;
}
[id='nav-toggle']:checked ~ .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
[id='nav-toggle']:checked ~ .nav > .nav-toggle:before {
  -webkit-animation: 0;
          animation: 0;
  content: '✖';
}
[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
  content: '';
  position: fixed;
  z-index: -1;
  right: 320px;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px) opacity(75%);
}
.nav nav {
  text-align: right;
}
.nav nav a {
  text-decoration: none;
  font-size: 1.2em;
  padding:1em;
  padding-left: 30px;
  display: block;
  color: #2B2B2B;
}
.nav  .active{
  background-color: #fff0f2;color: #fa485d;
}
.nav nav a:hover {
  background-color: #fff0f2;
  color: #fa485d;
}
@media (max-width: 400px) {
  .nav {
    width: 100%;
  }
  [id='nav-toggle']:checked ~ .nav .nav-toggle {
    float: right;
    right: auto;
  }
  [id='nav-toggle']:checked ~ .nav nav {
    clear: both;
  }
}
main{
  margin-left: -15px;
}










/*Spinner Circle Rotation */

.sp {
  margin-left: 1em;
  margin-right: 1em;
  width: 15px;
  height: 15px;
  clear: both;
}

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
}

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}







/*EXPAND*/
tr.clickable-row {
  cursor: pointer;
-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
-ms-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;  
}

tr.clickable-row td {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
tr.clickable-row td {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

tr.clickable-row:hover td {
  border-color: #F8F8F8;
}
.expand{
  transform: scale(1.015); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1000 !important;
  background-color:rgb(245, 247, 250) !important;
  color:black;
  border-radius: 15px;
  box-shadow: 8px 8px 5px rgb(232, 232, 232);  
  height: 150px;
  -webkit-transition: all 0.1 s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

}