@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
h1{
	font-weight: 700;
	font-size: 2.25rem;
  font-family: 'IBM Plex Sans', sans-serif;
}
hr {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 2em 0 1em;
}
#dataGrid {
	margin-bottom: 160px;
}
#example_wrapper {
	width: 100%;
}
.dataTables_wrapper {
	padding: 1em 0;
}
.container {
    flex: 1 1;
    max-width: 730px;
    width: 100%;
    padding: 5rem 1rem 10rem;    
    box-sizing: border-box;
}
