{% extends "layout.html" %} 

{% block table %}
    {% for e in posts %}        
        <tr class="clickable-row " data-href="" id="ROW:{{e.tw_id_str}}" onclick="expand(this.id)" >                    
        <!-- <tr >                     -->
            <td><button id="{{e.tw_id_str}}" onclick="save(this.id)" class="save">Guardar</button></td>
            <td>{{e.rt_OgRetwCount}}</td>
            <td>{{e.tw_text}}</td>
            <td>{{e.usr_name}}</td>
        </tr>
    {% endfor %}    
{% endblock %}


{% block map %}
	<link rel="stylesheet" href="{{url_for('static',filename='css/css-map.css')}}">
	<div class="fixed">
		<div class="map">
			<script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script><script rel="stylesheet" src="{{url_for('static',filename='js/js-map.js')}}"></script>
		</div>
	</div>
{% endblock%}

