{% extends "layout.html" %} 

{% block table %}
    {% for e in posts %}
        <tr>
            <td>{{e.rt_OgRetwCount}}</td>
            <td>{{e.tw_text}}</td>
            <td>{{e.usr_name}}</td>
        </tr>
    {% endfor %}    
{% endblock %}


{% block map %}
	<link rel="stylesheet" href="{{url_for('static',filename='css/css-map.css')}}">
	<div class="fixed">
		<div class="map">
			<script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script><script rel="stylesheet" src="{{url_for('static',filename='js/js-map.js')}}"></script>
		</div>
	</div>
{% endblock%}

