{% extends "header.html" %}
{% block body %}
<body id="DataGrid">
  <div class="container-fluid">
    <div class="row">      
      <div class="col-md-6">
        {% block map %}
        {% endblock %}
      </div>  
      <div class="col-md-6">
        <div class="container-fluid" >
          <div class="ui table grid" style="margin-top: 1em;">
            <div class="ui one column grid">      
                <div class="table">

                    <div class="row">
                        <div class="col-sm-8" >
                            <h1>COVIBOT</h1>
                        </div>
                        <div class="col-sm">

                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12" style="color: #858585">
                        <h5>  COVIBOT lleva 
                          {% if error %}  
                              <a class="ui red message custom-alert" >
                                  Error: {{ error }}
                              </a>            
                          {% else %} 
                              <a id="Counter" class="ui red message custom-flag">
                                  Conexión establecida
                              </a>
                          {% endif %} 
                            tweets analizados, en tiempo real.
                        </h5>
                      </div>
                    </div>


                    

                    <table id="posts" class="table_class ">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Urgencia</th>
                          <th>Status</th>
                          <th>Notes</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% block table %}
                        {% endblock %}
                      </tbody>
                      <tfoot>

                      </tfoot>
                    </table>
                    <br><br>


                </div>
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.2/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
<script>
  // Your web app's Firebase configuration
var firebaseConfig = {
  apiKey: "AIzaSyDVpxOSaZH08jzKvQJhssW06sloEHz5voc",
  authDomain: "colabotz.firebaseapp.com",
  databaseURL: "https://colabotz.firebaseio.com",
  projectId: "colabotz",
  storageBucket: "colabotz.appspot.com",
  messagingSenderId: "406791360909",
  appId: "1:406791360909:web:056f177e88849eb86eadc4",
  measurementId: "G-SJZ8WDR62E"
};
// Initialize Firebase
if (!firebase.apps.length) {
    firebase.initializeApp(firebaseConfig);
}
firebase.analytics();
  
// Get a reference to the database service
var database = firebase.database().ref('status/count');    
database.on('value', function(snapshot){
    var changedUser = snapshot.val();
    document.getElementById("Counter").innerHTML = changedUser ;
});
    

$(document).ready(function() {

    $('#example tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });

});

function create_new_note() {
  $("#btn-create-new-chat").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creando ...');
  fetch("/new-chat/create")
    .then((data) => {
      console.log(data);
      $("#btn-create-new-chat").html("Listo!");
      window.location = data['url'];
    },
      (error) => {
        console.log(error);
        $("#btn-create-new-chat").html("Hubo un error.");
      });
}

function save(clicked_id){
  // clicked_id = clicked_id.slice(3);
  $("#"+clicked_id).html('<div class="sp sp-circle" role="status" aria-hidden="true"></div>');
  fetch("/save/"+clicked_id)
  .then((data) => {
    console.log(data);
    $("#"+clicked_id).html("Guardado!");
    $("#"+clicked_id).css("background-color","#ccffb8");
    $("#"+clicked_id).css("color","green");
  },
  (error) => {
    console.log(error);
    $("#"+clicked_id).html("Hubo un error.");
  });
}

function unfade(element) {
    var op = 0.1;  // initial opacity
    element.style.display = 'block';
    var timer = setInterval(function () {
        if (op >= 1){
            clearInterval(timer);
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op += op * 0.1;
    }, 10);
}

function fade(element) {
    var op = 1;  // initial opacity
    var timer = setInterval(function () {
        if (op <= 0.1){
            clearInterval(timer);
            element.style.display = 'none';
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op -= op * 0.1;
    }, 50);
}

function expand(clicked_id){
  clicked_id = clicked_id.slice(2);
  row = document.getElementById("R:"+clicked_id)
  button2 = row.cells[0].childNodes[4]
  if (!(row).classList.contains("expand")){
    
    row.classList.add("expand")// Expandir
    
    // LOADING
    // if (!(row.cells[0].innerText.includes("Contactar"))){
    //   console.log("encontrado");
    //   var button = document.createElement("button");
    //   button.classList.add("save")
    //   var textnode = document.createTextNode("Contactar");
    //   button.appendChild(textnode)

    //   row.cells[0].appendChild(button)      
    // }
    console.log(button2.style.visibility)
    if (button2.style.visibility == "hidden"){
      button2.style.visibility = "visible";
      button2.style.display = "inline";
      button2.style.position = "relative";

    }else{
      button2.style.visibility = "visible";
      button2.style.display = "inline"
      button2.style.position = "relative";
    }

    fetch("/expand/"+clicked_id).then(response => 
        response.json().then(data => ({
            data: data,
            status: response.status
        })
    ).then(res => {
        console.log(res.status, res.data)



        row.cells[2].innerHTML = res.data.tw_text;
    }));      

  }
  else{    
    console.log(button2.style.visibility)
    button2.style.visibility = "hidden";
    button2.style.display = "none"
    button2.style.position = "absolute";
    row.classList.remove("expand")
  }
  


}
</script>
    
    
<!-- Jquey -->    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.jeditable/1.7.3/jquery.jeditable.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>





<script type="text/javascript" src="https://bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/1.10.21/features/searchHighlight/dataTables.searchHighlight.css">
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/features/searchHighlight/dataTables.searchHighlight.min.js"></script>


<script type="text/javascript">
  var table = $('#posts').DataTable( {
    "columnDefs": [
      { className: "table-class", "targets": [ "_all" ] },
      { "width": "70%", "targets": 3 }],
    "oLanguage": {
      "sSearch": "Buscar"},
    "bScrollInfinite": true,
    "bScrollCollapse": true,
    "sScrollY": "70vh",
    "pageResize": true,
    "paging":true,
    "searchHighlight": true
    });  
  $('.dataTables_filter').addClass('search_class');
  $(window).scroll(function () { 
     if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
        //Add something at the end of the page
     }
  });
</script>



{% endblock %}