{% extends "header.html" %}
{% block body %}
<body id="DataGrid">
  <div class="container-fluid">
    <div class="row">      
      <div class="col-sm-6">
        {% block map %}
        {% endblock %}
      </div>      
      <div class="col-sm-6">
        <div class="container-fluid" >
          <div class="ui table grid" style="margin-top: 1em;">
            <div class="ui one column grid">      
                <div class="table">

                    <div class="row">
                        <div class="col-sm-8" >
                            <h1>COVIBOT 🦠</h1>
                        </div>
                        <div class="col-sm">

                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <h5>  COVIBOT lleva 
                          {% if error %}  
                              <a class="ui red message custom-alert" >
                                  Error: {{ error }}
                              </a>            
                          {% else %} 
                              <a id="Counter" class="ui green message custom-flag">
                                  Conexión establecida
                              </a>
                          {% endif %} 
                            tweets analizados, en tiempo real.
                        </h5>
                      </div>
                    </div>


                    

                    <table id="posts" class="table_class ">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Urgencia</th>
                          <th>Status</th>
                          <th>Notes</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% block table %}
                        {% endblock %}
                      </tbody>
                      <tfoot>

                      </tfoot>
                    </table>
                    <br><br>


                </div>
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.2/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
<script>
  // Your web app's Firebase configuration
var firebaseConfig = {
  apiKey: "AIzaSyDVpxOSaZH08jzKvQJhssW06sloEHz5voc",
  authDomain: "colabotz.firebaseapp.com",
  databaseURL: "https://colabotz.firebaseio.com",
  projectId: "colabotz",
  storageBucket: "colabotz.appspot.com",
  messagingSenderId: "406791360909",
  appId: "1:406791360909:web:056f177e88849eb86eadc4",
  measurementId: "G-SJZ8WDR62E"
};
// Initialize Firebase
if (!firebase.apps.length) {
    firebase.initializeApp(firebaseConfig);
}
firebase.analytics();
  
// Get a reference to the database service
var database = firebase.database().ref('status/count');    
database.on('value', function(snapshot){
    var changedUser = snapshot.val();
    document.getElementById("Counter").innerHTML = changedUser ;
});
    

$(document).ready(function() {

    $('#example tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });

});

function create_new_note() {
  $("#btn-create-new-chat").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creando ...');
  fetch("/new-chat/create")
    .then((data) => {
      console.log(data);
      $("#btn-create-new-chat").html("Listo!");
      window.location = data['url'];
    },
      (error) => {
        console.log(error);
        $("#btn-create-new-chat").html("Hubo un error.");
      });
}

function save(clicked_id){
  clicked_id = clicked_id.slice(6);
  console.log("button:"+clicked_id.toString());
  $("#BUTTON:"+clicked_id).html('<div class="sp sp-circle" role="status" aria-hidden="true"></div>');   //SOLAMENTE CAMBIA EL ESTILO MIENTRAS QUE HREF HACE EL BACKEND
  fetch("/save/"+clicked_id)
  .then((data) => {
    console.log(data);
    $("#BUTTON:"+clicked_id).html("Guardado!");
    $("#BUTTON:"+clicked_id).css("background-color","#ccffb8");
    $("#BUTTON:"+clicked_id).css("color","green");
  },
    (error) => {
      console.log(error);
      $("#BUTTON:"+clicked_id).html("Hubo un error.");
    });
}
function expand(clicked_id){
  clicked_id = clicked_id.slice(4);
  console.log("expand: "+clicked_id.toString());
  $("#ROW:"+clicked_id).html('<div class="sp sp-circle" role="status" aria-hidden="true"></div>');   //SOLAMENTE CAMBIA EL ESTILO MIENTRAS QUE HREF HACE EL BACKEND
  fetch("/expand/"+clicked_id)
  .then((data) => {
    console.log(data);
    $("#ROW:"+clicked_id).html("Guardado!");
    $("#ROW:"+clicked_id).css("background-color","#ccffb8");
    $("#ROW:"+clicked_id).css("color","green");
  },
    (error) => {
      console.log(error);
      $("#ROW:"+clicked_id).html("Hubo un error.");
    });
}
</script>
    
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.jeditable/1.7.3/jquery.jeditable.js"></script>
<!-- partial -->
<script  src="{{ url_for('static',filename='js/script.js')}}"></script>
  <div id="wrapper">


    <div class="scrollbar" id="style-1">
      
    </div>


<script type="text/javascript">
  $('#posts').dataTable( {
    "columnDefs": [
      { className: "table-class", "targets": [ "_all" ] },
      { "width": "70%", "targets": 3 }],
    "oLanguage": {
      "sSearch": "Buscar"},
    "bScrollInfinite": true,
    "bScrollCollapse": true,
    "sScrollY": "55vh",
    "pageResize": true,
    "paging":true,
    });  
  $('.dataTables_filter').addClass('search_class');
  $(window).scroll(function () { 
     if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
        //Add something at the end of the page
     }
  });
</script>



{% endblock %}